<h1>Welcome to the World of Runes!</h1>

<div>
    <p class="common_paragraph">Welcome to the site related to Scandinavian runes. It's quite a common situation in life when it is
        unclear what should be done and what is the correct way for movement. And you want to have an advice.
        At these moments people search for answers in divination.
    </p>
    <p class="common_paragraph">Хотя, на самом деле, все ответы уже есть внутри нас, внутри нашего подсознания и все, что необходимо -
        это извлечь их оттуда.
    </p>
    <p class="common_paragraph">В древнескандинавские руны можно верить - можно не верить, но дать они всегда могут послужить тем
        толчком для извлечения ответа на насущные вопросы из нашей гловы.
    </p>

    <p class="common_paragraph">
        <a href="#/divination">
            <strong>Перейти к гаданиям</strong>
        </a>
    </p>
</div>