<div id="header_wrapper">
    <div id="header_banner">Header banner</div>

    <language-switcher></language-switcher>

    <div id="header_menu"
         data-ng-controller="MainMenuCtrl"
         data-ng-include="'mainMenu/mainMenu.tpl.html'">
    </div>
</div>