<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="AppCtrl">
<head>
    <meta charset="UTF-8" />
    <title data-ng-bind="AppCtrl.pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) {
        if ( file.indexOf('angular-i18n') === -1 ) {%>
        <script type="text/javascript" src="<%= file %>"></script><% }
    }); %>

    <script type="text/javascript" src="vendor/angular-i18n/angular-locale_<?php echo $currentLocale ?>.js"></script>
</head>

<body>
    <div id="page_wrapper">
        <div id="head_content"
             data-ng-controller="HeaderCtrl"
             data-ng-include="'header/header.tpl.html'">
        </div>

        <div id="main_content" data-ui-view="main"></div>
    </div>
</body>
</html>
