@questionInputWidth:    550px;

.question_to_runes {
    width:      @questionInputWidth;
}

.error {
    color: red;
}

#answer_rune_img {
    float:  left;
}

#answer_rune_name {
    margin: 10px 0;
}

.answer_name_and_state {
    font-size: 18px;
}

.answer_rune_description {
    text-align: justify;
}

#ask_another_question {
    margin:     10px 0;
}

.one_rune_result_block {
    clear: left;
}