<h1>Добро пожаловать в мир Рун</h1>

<div>
    <p class="common_paragraph">Добро пожаловать на сайт мистерий скандинавских рун. Часто в жизни возникают ситуации, когда непонятно,
        что делать и куда двигаться. И хочеться получить совет. И тогда люди прибегают к разным видам гаданий
        и предсказаний.
    </p>
    <p class="common_paragraph">Хотя, на самом деле, все ответы уже есть внутри нас, внутри нашего подсознания и все, что необходимо -
        это извлечь их оттуда.
    </p>
    <p class="common_paragraph">В древнескандинавские руны можно верить - можно не верить, но дать они всегда могут послужить тем
        толчком для извлечения ответа на насущные вопросы из нашей гловы.
    </p>

    <p class="common_paragraph">
        <a href="#/divination">
            <strong>Перейти к гаданиям</strong>
        </a>
    </p>
</div>