@menuHeight:    30px;

#main_menu_container {
    height:     @menuHeight;
    background-color: #eee;
}

li.main_menu_item {
    float:      left;
    list-style: none;
    margin:     0 10px;
    font-size:  20px;
}