<ul id="main_menu_container">
    <li class="main_menu_item">
        <a href="#/home" class="main_menu_item">{{ MainMenuCtrl.homeMenuItem }}</a>
    </li>

    <li class="main_menu_item">
        <a href="#/divination" class="main_menu_item">{{ MainMenuCtrl.divinationsMenuItem }}</a>
    </li>

    <!--<li class="main_menu_item">-->
        <!--<a href="#" class="main_menu_item">{{ MainMenuCtrl.runesMenuItem }}</a>-->
    <!--</li>-->
</ul>