<div>
    <h3>Select the divination below:</h3>
    <ul>
        <li data-ng-repeat="divination in DivinationListCtrl.divinations">
            <a ui-sref="appState.divination.description({ divinationId: divination.id })">{{ divination.name }}</a>
        </li>
    </ul>
    <div data-ui-view="divination_description"></div>

    <div data-ui-view="divination_answer"></div>
</div>