<div><h2>Rune's Answer</h2></div>

<div ng-repeat="rune in DivinationResultCtrl.result">
    <div class="one_rune_result_block">
        <hr />
        <div ng-if="rune.time"><h3>{{ rune.time }}</h3></div>

        <div id="answer_rune_img">
            <img ng-src="{{ rune.runeImage }}" />
        </div>

        <div id="answer_rune_name">
            <p>Rune: <strong class="answer_name_and_state">{{ rune.name }}</strong>. Position:&nbsp;
                <strong class="answer_name_and_state">{{ rune.runeState }}</strong></p>
        </div>

        <div>
            <p class="answer_rune_description">{{ rune.resultDescription }}</p>
        </div>
    </div>
</div>

<div id="ask_another_question"  class="one_rune_result_block">
    <a ui-sref="appState.divination.description({divinationId : DivinationResultCtrl.currentDivination.id})">
        Ask another question to the Runes
    </a>
</div>