<h1>Ласкаво просимо у світ Рун!</h1>

<div>
    <p class="common_paragraph">Ласкаво просимо до світу містерій скандинавських Рун. Досить часто в нашому житті виникають ситуації,
        коли незрозуміло, що робити та куди рухатись далі. І потрібна порада. Саме тоді люди вдаються до різних ворожінь і пророкувань.
    </p>
    <p class="common_paragraph">Насправді, всі відповіді вже є внутри нас самих. Все, що потрібно - це побачити їх.
    </p>
    <p class="common_paragraph">У давньоскандинавські руни можно вірити або ні. але вони можуть бути поштовхом,
        щоб знайти відповідь на насущне питання.
    </p>

    <p class="common_paragraph">
        <a href="#/divination">
            <strong>Перейти до ворожіння</strong>
        </a>
    </p>
</div>