/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';


/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';

/**
* Application level styles
*/
html, body, ul, li, p, span, div {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}


#page_wrapper {
    position:   absolute;
    width:      @page_width;
    left:       50%;
    margin-left:-450px;
}

.common_paragraph {
    text-align: justify;
    margin:     5px 0;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/mainMenu/mainMenu.less';
@import '../app/header/header.less';
@import '../app/locale/locale.less';
@import '../app/divination/divination.less';

