<div>
    <h3>Выберите вид гадания из списка:</h3>
    <ul>
        <li data-ng-repeat="divination in DivinationListCtrl.divinations">
            <a href="#/divination/description/{{ divination.id }}">{{ divination.name }}</a>
        </li>
    </ul>
    <div data-ui-view="divination_description"></div>
</div>