<h3>{{ DivinationDescCtrl.currentDivination.name }}</h3>

<p>{{ DivinationDescCtrl.currentDivination.description }}</p>

<hr />

<p class="common_paragraph">
    <form name="question" novalidate>
        Задайте свой вопрос Рунам:&nbsp;
        <input type="text"
               class="question_to_runes"
               name="question_to_runes"
               data-ng-model="DivinationDescCtrl.question"
               placeholder="{{ DivinationDescCtrl.questionPlaceHolder }}" />

        <button type="submit"
                data-ng-click="DivinationDescCtrl.answerQuestion()">
            {{ DivinationDescCtrl.getAnswer }}
        </button>
    </form>
</p>



